<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="BrightnessConverter.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <userSettings>
        <BrightnessConverter.Properties.Settings>
            <setting name="LowThreshold" serializeAs="String">
                <value>30</value>
            </setting>
            <setting name="HighThreshold" serializeAs="String">
                <value>240</value>
            </setting>
            <setting name="TargetBrightness" serializeAs="String">
                <value>190</value>
            </setting>
        </BrightnessConverter.Properties.Settings>
    </userSettings>
</configuration>